<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.crm.comcast.conatctTest.CreateConatctWithOrgTest"/>
      <class name="com.crm.comcast.conatctTest.CreateContactTest"/>
      <class name="com.crm.comcast.organaizationtest.CreateOrganization_With_Industries_And_Type_Test"/>
      <class name="com.crm.comcast.conatctTest.CreateContact_Support_DateTest"/>
      <class name="com.crm.comcast.organaizationtest.CreateOrganizationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
